# Copy to .env.local and fill in values
RESEND_API_KEY=
RESEND_FROM="Dustin Litorja <dustin@litorja.com>"
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
PRISMIC_REPOSITORY_NAME=
PRISMIC_ACCESS_TOKEN=
NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=
